@use 'variables';

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3vw;

    @media (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 500px) {
        grid-template-columns: 1fr;
    }

    &__photo {
        transition: transform ease .5s;
        cursor: pointer;

        img {
            max-width: 100%;
            width: 100%;
            border: 2px solid variables.$textColor;
            
        }
        &:hover {
            transform: translateY(-10px);
        }

    }
}